html {
    font: 62.5% Arial, 黑体, sans-serif;
}

body {
    margin: 0;
}

ul li {
    list-style: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    margin: 0;
    padding: .3rem 1.3rem;

    line-height: 3.1rem;

    background-color: #5ac0ce;
}

header a {
    float: left;
}

header img {
    width: .88rem;
    height: 1.48rem;
    vertical-align: middle;
}

header p {
    margin: auto;

    font-family: "Microsoft YaHei UI Light", sans-serif;
    font-size: 1.7rem;
    letter-spacing: .1rem;
    text-align: center;

    color: white;
}

main {
    position: absolute;
    top: 3.7rem;
    bottom: 7rem;
    left: 0;
    right: 0;

    overflow-y: auto;
    overflow-x: hidden;
}

.info-bar {
    position: relative;

    height: 13.5rem;
    width: 100%;

    background: url('image/bg.png') no-repeat;
    background-size: cover;
    color: white;
}

.icon {
    position: absolute;
    left: 1.5rem;
    line-height: 13.5rem;
}

.icon img {
    width: 7rem;
    height: 7rem;
    vertical-align: middle;
}

.info {
    position: absolute;
    top: 50%;
    left: 10rem;
    transform: translateY(-50%);

    vertical-align: middle;
}

.name {
    float: left;
    line-height: 2rem;
}

.name p {
    padding: 0;
    margin: 0;

    font-size: 1.7rem;
    letter-spacing: .1rem;
}

.age {
    float: left;
    line-height: 2rem;
    padding-left: 1.2rem;
}

.age p {
    padding: 0;
    margin: 0;

    font-size: 1.3rem;
    letter-spacing: .1rem;
}

.pos {
    float: left;
    clear: both;

    background: url("image/pos.png") no-repeat left center;
    background-size: .81rem 1rem;

    padding-left: 1.4rem;
    margin-top: .7rem;
    margin-left: .2rem;
}

.pos p {
    padding: 0;
    margin: 0;
}

.formTitle {
    height: 4rem;

    background: url("image/line1.png") no-repeat .6rem center;
    background-size: 1.3rem 1.3rem;

    border-bottom: solid 1px #e1e5e7;
}

.formTitle p {
    margin: 0;
    padding-left: 2.5rem;
    line-height: 4rem;
    font-size: 1.6rem;
}

ul {
    margin: 0;
    padding: 0 1.5rem;
    font-size: 1.6rem;
}

li {
    position: relative;

    padding: 1.5rem 1rem;
    border-bottom: 1px solid #e1e5e7;

    min-height: 2rem;
    line-height: 2rem;
}

.label1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    padding: 0 1.6rem;
    margin: 0 0 0 1rem;

    background: url("image/star.png") no-repeat left center;
    background-size: 1.2rem;
}

.label2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    padding: 0 1.6rem;
    margin: 0 0 0 10rem;

    background: url("image/star.png") no-repeat left center;
    background-size: 1.2rem;

}

.label3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    margin-left: 1rem;
    padding-right: 1rem;

    color: #999999;
    border-right: solid 1px #e1e5e7;
}

.label4 {
    display: inline-block;

    margin-left: 9.5rem;
}

.x {
    color: red;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    line-height: 6rem;

}

.leftButton {
    float: left;
    margin-left: 5%;
    width: 43%;
}

.rightButton {
    float: right;
    margin-right: 5%;
    width: 43%;
}

button {
    height: 3.7rem;
    width: 100%;
    border-radius: .5rem;

    font-size: 1.6rem;

    outline: none;
}

.message {
    border: solid #5ac0ce 1px;
    background-color: white;
    color: #5ac0ce;
}

.phone {
    border: none;
    background-color: #5ac0ce;
    color: white;
}