body, header, div, ul, ol, dl, dt, dd, li, dl, p,
h1, h2, h3, h4, table, th, td, input, button, select,
textarea {
    margin: 0;
    padding: 0;
    font: 62.5% 黑体, sans-serif;
}

ul li {
    list-style: none;
}

.row {
    margin: 0;
}

/*----------------------*/
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 5rem;

    background-color: #29bde0;
}

header p {
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translateX(50%);

    color: white;
    font-size: 1.8rem;

    letter-spacing: .2rem;
}

.menu-btn {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-30%);
}

.menu-btn img {
    width: 1.95rem;
    height: 2rem;
}

.close-btn {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-30%);
}

.close-btn img {
    width: 1.8rem;
    height: 1.8rem;
}

/*----------------------------*/
main {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 9rem;

    background-color: #29bde0;

    border-bottom: solid 1px white;
}

.vote-title {
    height: 4rem;
    background: url("image/play.png") right 1rem center no-repeat #b9e9f5;
    background-size: 2.6rem 2.6rem;
}

.vote-title p {
    padding-left: 3rem;
    line-height: 4rem;
    font-size: 1.8rem;

}

.vote-area-title {
    height: 4rem;
    background: url("image/shape.png") 4rem 0 no-repeat;
    background-size: 1rem .9rem;
}

.vote-area-title p {
    padding-left: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    color: white;
}

.vote-area-main {
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    bottom: 0rem;

    margin: 0;
    padding: 0;

    overflow-x: hidden;
    overflow-y: auto;
}

.vote-area-main2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin-left: calc(100vw - 100%);
}

.vote-area-row {
    margin: 0 auto;
    width: 85vw;
    height: 10rem;
}

.grid {
    padding: 0;
    margin: 0 auto;
}

.cell {
    display: block;
    margin: auto;
    width: 6rem;
    border: solid 0.2rem white;
    color: black;
}

.cell-1 {
    height: 4rem;
    background-color: #f5c97b;
}

.cell-1 p {
    line-height: 4rem;
    text-align: center;
    font-size: 1.3rem;
}

.cell-2 {
    height: 1.6rem;
    background-color: #83b09a;
}

.cell-2 p {
    line-height: 1.6rem;
    text-align: center;
    color: white;
    font-size: 1rem;
}

.cell-hidden {
    height: 3.5rem;
    width: 6rem;
    margin: 0 auto;
    visibility: hidden;
}

.cell-hidden-pic {
    margin: 0;
    padding: 0;

    height: 3.5rem;
}

.cell-hidden-pic1 {
    background: url("image/killer.png") no-repeat center;
    background-size: 1.35rem 1.35rem;
}

.cell-hidden-pic2 {
    background: url("image/judge.png") no-repeat center;
    background-size: 1.35rem 1.35rem;
}

.cell-hidden-pic3 {
    background: url("image/sniper.png") no-repeat center;
    background-size: 1.35rem 1.35rem;
}

.cell-hidden-pic4 {
    background: url("image/doctor.png") no-repeat center;
    background-size: 1.35rem 1.35rem;
}

/*----------------------------*/
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: 9rem;
    background-color: #29bde0;
}

footer a {
    display: block;
    background-color: #fbb435;

    margin: 2rem 4rem 3rem 4rem;

    height: 4rem;
    line-height: 4rem;

    text-align: center;
    font-size: 2rem;
    color: white;
    letter-spacing: .2rem;
}

a:hover {
    text-decoration: none;
    color: white;
}
