body, div, ul, ol, dl, dt, dd, li, dl,
h1, h2, h3, h4, table, th, td, input, button, select,
textarea {
    margin: 0;
    padding: 0;
    font: 62.5% 黑体, sans-serif;
}

ul li {
    list-style: none;
}

/*-----------------header---------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    margin: 0;
    padding: 0;
    height: 5rem;

    background-color: #5ac0ce;
}

header a {
    text-decoration: none;
    font-size: 1.5rem;
}

header a:hover {
    text-decoration: none;
}

.header-btn1 {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateX(50%);

    margin-top: -1.5rem;

    width: 14rem;
    height: 3rem;
    line-height: 3rem;

    background-color: #51a8b4;
    border-radius: .5rem;

    text-align: center;
}

.header-btn2 {
    float: right;

    width: 7rem;
    height: 3rem;
    line-height: 3rem;

    background-color: white;
    border-radius: .5rem;
}

.header-btn1 a {
    color: white;
}

.header-btn2 a {
    color: #5ac0ce;
}

.map {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
}

.map img {
    width: 1.68rem;
    height: 1.76rem;
    vertical-align: middle;
}

/*-----------------筛选列-----------------*/
.selectCol {
    position: fixed;
    top: 5rem;
    left: 0;
    right: 0;

    z-index: 10000;
}

.selectCol-row {
    height: 4rem;
    border-bottom: solid 1px #e1e5e7;
}

.selectCol-column {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    padding: 0;
}

.selectCol-btn {
    width: 100%;
    height: 2rem;

    background: url("image/shape.png") no-repeat right 1rem center;
    background-size: .65rem .4rem;

    border: none;
    color: #999999;
    font-size: 1.5rem;
}

.menu {
    min-width: 100%;
}

.middle-btn {
    border-left: solid 1px #e1e5e7;
    border-right: solid 1px #e1e5e7;
}

/*----------------列表--------------------*/
.main {
    position: absolute;
    top: 9rem;
    bottom: 5rem;
    left: 0;
    right: 0;

    overflow-x: hidden;
    overflow-y: auto;
}

.list-row {
    height: 7.5rem;
    border-bottom: solid 1px #e1e5e7;
}

.info p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    margin: 0;
    padding-left: 0;

    font-size: 1.3rem;

    overflow-x: hidden;
    text-overflow: ellipsis; /*文字隐藏后添加省略号*/
    white-space: nowrap; /*强制不换行*/

    color: #999999;
    letter-spacing: .2rem;
}

.info-row {
    height: 2.5rem;
}

.info-row div {
    float: left;
    height: 2rem;
    width: 3rem;

    background-size: 1.2rem 3.3rem;
}

.icon1 {
    background: url("image/sprite.png") 0.8rem 0.65rem no-repeat;
}

.icon2 {
    background: url("image/sprite.png") 0.8rem -1.45rem no-repeat;
}

.middle-row p {
    padding-left: 3rem;
    color: black;
    font-family: Arial, sans-serif;
    letter-spacing: 0;
}

.price {
    height: 7.5rem;
    background: url("image/shape2.png") no-repeat right 1.2rem center;
    background-size: .86rem 1.49rem;
}

.price p {
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);

    padding: 0;
    margin: 0;

    color: red;
    font-size: 1.4rem;

    white-space: nowrap;
}

/*----------------footer------------------*/
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    height: 5rem;

    border-top: solid 1px #e1e5e7;
}

.footer-btn-left {
    float: left;
    width: 50%;
    line-height: 5rem;
    text-align: center;
}

.footer-btn-left img {
    width: 2.4rem;
    height: 3.84rem;
    vertical-align: middle;
}

.footer-btn-right {
    float: right;
    width: 50%;
    line-height: 5rem;
    text-align: center;
}

.footer-btn-right img {
    width: 2.4rem;
    height: 3.84rem;
    vertical-align: middle;
}

.footer-btn-middle {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateX(50%);

    margin-top: -2.3rem;

    display: inline-block;
    background-color: #5ac0ce;
    border-radius: 50%;
    width: 4.6rem;
    height: 4.6rem;
}

.footer-btn-middle img {
    margin: 1.3rem;
    width: 2rem;
    height: 2rem;
}