.container
{
    margin: 1px 1px;
    overflow: hidden;
}
.cell {
    width: 30vw;
    height: 30vw;
    max-width: 200px;
    max-height: 200px;
    margin: 1px 1px;

    background-color: orange;
    border-radius: 5px;
    float: left;
}

.x {
    clear: left;
}