body {
    margin: 0;
}

.container {
    background-color: #68cdd5;
    overflow: hidden;

    width: 100%;

    margin: 0 auto;
    padding-bottom: 30%;
}

.back {
    padding-top: 3%;
    padding-left: 5%;
}

.back img {
    width: 10%;
}

.logo {
    padding-top: 4%;
    text-align: center;
}

.logo img {
    width: 28%;
    text-align: center;
}

.illustration {
    padding: 0 15%;
    margin-top: 16%;
    margin-bottom: 25%;

    font-family: "Microsoft YaHei UI Light";
    color: white;
    font-size: 4.4vw;
    line-height: 9vw;
}

.footer {
    overflow: hidden;
}

.footer-icon {
    float: left;
    width: 50%;
    text-align: center;
}

.footer-icon img {
    width: 25%;
    text-align: center;
}

.footer-icon p {
    font-family: "Microsoft YaHei UI Light";
    color: white;
    font-size: 4vw;
    text-align: center;
}


