body {
    margin: 0;
}

.container {
    background-color: #68cdd5;
    overflow: hidden;

    width: 100%;

    margin: 0 auto;

}

.back {
    padding-top: 3%;
    padding-left: 5%;
}

.back img {
    width: 10%;
}

.logo {
    padding-top: 4%;
    text-align: center;
}

.logo img {
    width: 28%;
    text-align: center;
}

.illustration {
    padding: 0 15%;
    margin-top: 16%;
    margin-bottom: 25%;

    font-family: "Microsoft YaHei UI Light";
    color: white;
    font-size: 4.5vw;
    line-height: 9vw;
}

.footer {
    padding-bottom: 20%;
    overflow: hidden;
}

.footer-icon {
    float: left;
    width: 50%;
    text-align: center;
}

.footer-icon img {
    width: 25%;
    text-align: center;
}

.footer-icon p {
    font-family: "Microsoft YaHei UI Light";
    color: white;
    font-size: 4vw;
    text-align: center;
}

@media only screen and (min-width: 640px){
    .container {
        width: 640px;
    }
    .illustration {
        font-size: 29px;
        line-height: 58px;
    }
    .footer-icon p {
        font-size: 26px;
    }
}


