html {
    font-size: 62.5%;
    font-family: "Microsoft YaHei UI Light";
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    margin: 0;
    padding: 0.3rem 1.3rem;

    background-color: #5ac0ce;

    line-height: 3.1rem;
}

header a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.a1 {
    float: left;
}

.a2 {
    float: right;
}

header p {
    color: white;
    font-size: 1.7rem;
    text-align: center;
    margin: auto;
}

form {
    position: absolute;
    top: 3.7rem;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #eff0f4;

    overflow-y: auto;
    overflow-x: hidden;
}

.login {
    margin-top: 0.7rem;
    background-color: white;
}

.personal {
    border: 0 none;
    outline: none;

    padding: 0 0 0 7rem;

    line-height: 4rem;

    font-size: 1.4rem;

    background: url("image/phone.png") no-repeat 1.5rem center;
    background-size: 3.52rem 2.04rem;
}

.password {
    border: 0 none;
    outline: none;

    padding: 0 0 0 7rem;

    line-height: 4rem;

    font-size: 1.4rem;

    background: url("image/lock.png") no-repeat 1.5rem center;
    background-size: 3.52rem 2.04rem;
}

input::-webkit-input-placeholder {
    color: #e1e5e7;
    font-size: 1.4rem;
}

button {
    margin-top: 3rem;
    width: 100%;
    height: 4rem;

    background-color: #5ac0ce;
    border: none;
    outline: none;

    color: white;
    letter-spacing: 0.5rem;
    font-size: 1.7rem;
}

.remark {
    float: right;
    margin: 0.5rem 1rem;
}

.remark a {
    color: #5ac0ce;
    font-size: 1.5rem;
    text-decoration: none;
    letter-spacing: 0.05rem;
}
